.idea/
.vs/
build/
out/
x64/
GaYmXboxFilter/
src/tools/GaYmTestFeeder/*.exe
src/tools/GaYmTestFeeder/*.obj
src/tools/GaYmTestFeeder/*.ilk
src/tools/GaYmTestFeeder/*.pdb
*.obj
*.pdb
*.idb
*.ilk
*.ipch
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.recipe
*.sys
*.cat
*.cer
*.map
*.exe
*.dll
*.lib
*.exp
*.log
*.user
*.suo
*.iml
archive/third_party/
